@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: calc(100% - 180px);
    margin: auto;
}
a{
    text-decoration: none;
}
header{
    box-shadow: 0px 1.647px 8.237px 0px rgba(0, 0, 0, 0.10);
    padding: 10px;
    position: sticky;
    top:0;
    width: 100%;
    background-color: white;
}
header .logo img{
    width: 25px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo a{
    font-family:'Roboto' ;
    font-weight: 700;
}
nav ul{
    display: flex;
    gap:15px;
    list-style-type: none;
    flex-wrap: wrap;
}
nav ul li a{
    font-family: 'Poppins';
    color: #101928;
}
.bold{
    font-weight: 900;
}
.auth{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Inter';
    gap: 10px;
}
.auth a{
    border: solid #545BE8;
    border-radius: 4.119px;
    padding: 5.354px 20.181px;
}
.log{
    border: 0.412px solid #545BE8;
    color: #545BE8;
}
.reg{
    background-color: #545BE8;
    color: white;
}
.Testimonials h2{
    text-align: center;
    padding: 20px;
    font-family: 'Mada';
}
.Testimonials{
    padding: 40px 0;
}
.Testimonial{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 8.237px 8.237px 0px rgba(0, 0, 0, 0.10);
    position: relative;
}
.Testimonial:after{
    content: "";
    width: 0px;
    height:0px;
    position: absolute;
    top:0;
    right: 0;
    border-top: 20px solid #7a7777;
    border-right: 20px solid #7a7777;
    border-left: 20px solid white;
    border-bottom: 20px solid white;
}
.Testimonials .test-info{
    display: flex;
    gap: 6px;
    align-items: center;
}
.Testimonials .test-info img{
    width: 10%;
    height: 10%;
    border-radius: 50%;
}
.Testimonials .test-data{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.Testimonials .test-data h3{
    font-family: 'Poppins';
}
.Testimonials .test-data span{
    color: #969696;
    font-family: 'Poppins';
}
.Testimonials blockquote q{
    font-family: 'Poppins';
    color: #646464;
}
footer{
    background: #393E46;
    padding: 50px;
}
footer .row{
    gap: 15px;
}
footer .l-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
footer .Logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
footer .Logo img{
    width: 25px;
}
footer .Logo a{
    font-size: medium;
    font-family:'Roboto';
    color: white;
}
footer p{
    color: white;
    font-size: 12px;
    font-family: 'Poppins';
}
footer .icons{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
footer .icons svg{
    border: 1px solid white;
    padding: 5px;
    box-sizing:content-box;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
footer .r-footer{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
footer .r-footer h2{
    color: white;
    font-family: 'Poppins';
    font-size: 15px;
}
footer .r-footer a{
    display: flex;
    flex-direction: column;
    padding: 5px;
    color: white;
    font-family: 'Poppins';
    font-size: 12px;
}
.l-footer,.r-footer{
    width: calc((100% - 15px)/2);
    justify-content: space-evenly;
}
