@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: calc(100% - 180px);
    margin: auto;
}
a{
    text-decoration: none;
}
.start .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:20px;
    align-items: center;
    flex-wrap: wrap;
}
.start{
    padding: 50px 0px;
}
.parent2{
    background-color: #F5F5F5;
    height: 400px;
    flex-shrink: 0;
}
.parent2 img{
    width: 400px;
    height:350px;
    flex-shrink: 0;
}
.parent2{
    padding: 30px 0px;
}
.description-s, .image{
    width: calc((100% - 20px) /2);
}
.description-s{
    display: flex;
    flex-direction: column;
    gap:15px;
}
.hs{
    display: flex;
    align-items: center;
    gap:3px;
    color: #545BE8;
    font-family: Inter;
}
.hs .f-d{
    font-weight: 1000;
}
.first{
    font-family:'Poppins' ;
    font-size:30px ;
    font-weight: bolder;
}
.second{
    color: #969696;
    font-family: Poppins;
}
.buttons{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Inter';
    gap: 10px;
}
.buttons a{
    border-radius: 4.119px;
    padding: 5.354px 20.181px;
}
.reg2{
    border: solid #545BE8;
    background-color: #545BE8;
    color: white;
}
.play{
    font-size: 15px;
    font-weight: 900;
}